<% include partials/header %> 

<!--/*.slides .slide {
	float: left;
	/*background: blue;*/
	/*text-align: left;
	height: 400px;
	top: 60px;
	left: 50px;
	/*bottom: 10px;*/
	/*background-size: cover;
}

.slide h5 {
	color: #292929;
	font-size: 12px;
	font-weight: 600;
	line-height: 1.3;
	margin: 0;
	text-transform: uppercase;
}
.slide h2 {
	color: #3d4760;
	font-size: 250%;
	font-weight: 300;
	margin: 70px 0 0;
	text-transform: uppercase;
}
.slide h1 {
	color: #3d4760;
	font-size: 500%;
	font-weight: 700;
	margin: 0 0 15px;
	text-transform: uppercase;
}
.slide p{
	color: #292929;
	font-size: 14px;
	letter-spacing: 0.025em;
	line-height: 24px;
	margin: 0;
	padding: 0;
}
.slide a {
	background:rgba(0, 0, 0, 0) none repeat scroll 0 0;
	border: 2px solid #292929;
	border-radius: 0;
	color: #292929;
	display: inline-block!important;
	font-size: 12px;
	font-weight: 600;
	margin-top: 20px;
	padding: 15px 55px;
	text-transform: uppercase;
	transition: 0.3s;
	text-decoration: none;
}
/*.slider-area:hover .carousel-caption a {
	opacity: 1;
}
.slide a:hover {
	background:#292929 none repeat scroll 0 0;
	border-color: #292929;
	color: #fff;
}-->


	<div class="container_slide container-fluid" id="first">
            <div id="slider">
                <ul class="slides">
                    <li class="slide slide1">
                    	<!--<h5 class="animated fadeInLeft" data-animated-delay="0.3s">Clothing</h5>
                    	<h5 class="animated fadeInLeft" data-animated-delay="0.5s">New collection</h5>
						<h2 class="animated fadeInRight" data-animated-delay="0.7s">New arrivals!</h2>
						<h1 class="animated fadeInRight" data-animated-delay="0.9s">amazing mimosa</h1>
						<p class="animated fadeInLeft" data-animated-delay="1.3s">We crack for this purely rock style with stitched quills in relief and metallic <br /> hardware.</p>
						<a href="#" class=" animated bounceInRight" data-animated-delay="1.5s">read more</a>-->
                    </li>
                    <li class="slide slide2">
                    	<!--<h5 class="animated fadeInLeft" data-animated-delay=".3s">handbag</h5>
						<h5 class="animated fadeInLeft" data-animated-delay=".5s">new collection</h5>
						<h2 class="animated fadeInRight" data-animated-delay=".7s">Clean & Elegant! </h2>
						<h1 class="animated fadeInRight" data-animated-delay=".9s">Black Handbag</h1>
						<p class="animated fadeInLeft" data-animated-delay="1.3s">BlackBird collection of minimal, sleek and functional Carryalls were designed <br /> with creatives in mind.</p>
						<a href="#" class=" animated bounceInRight" data-animated-delay="1.5s">read more</a>-->
                    </li>
                    <li class="slide slide3">
                    	<!--<h5 class="animated fadeInLeft" data-animated-delay=".3s">handbag</h5>
						<h5 class="animated fadeInLeft" data-animated-delay=".5s">new collection</h5>
						<h2 class="animated fadeInRight" data-animated-delay=".7s">amazing product! </h2>
						<h1 class="animated fadeInRight" data-animated-delay=".9s">backpack</h1>
						<p class="animated fadeInLeft" data-animated-delay="1.3s">Inspired by the Kastrup backpack, but reimagined for the modern woman, the <br /> Piper  marries the functionality our backpacks are known for with morefeminine <br /> proportions and details x. </p>
						<a href="#" class=" animated bounceInRight" data-animated--delay="1.5s">read more</a>-->
                    </li>
                </ul>
            </div>

    </div> 

        <div class="container_card container-fluid" id="second">
				<div class="row">
					<div class="col-3-lg col-md-3">
						<div class="card animated fadeInUp" data-animated-delay=".6s" style="width: 23rem;">
							<img src="/img/slider/card1.jpg" alt="card-img-top">
							<div class="card-body">
								<h3 class="card-title">Photography</h3>
								<p>mnjjxnvmxcnvjdxnc vbhjdxncvbjhdvjxcvudjfvbjhgdfvfhvikdsxjvbhyrdusiedjhnbvfgdhyudjchbvfudksjmnbhfsdjkmhvjfkdsmnhvjckmchbjsdmhvjudfkjsd</p>
								<a href="#" class="btn btn-primary btn-style">Read...</a>
							</div>
						</div>
					</div>
					<div class="col-3-lg col-md-3">
						<div class="card animated fadeInUp" data-animated-delay=".7s" style="width: 23rem;">
							<img src="/img/slider/card2.jpg" alt="card-img-top">
							<div class="card-body">
								<h3 class="card-title">Portfolio</h3>
								<p>mnjjxnvmxcnvjdxnc vbhjdxncvbjhdvjxcvudjfvbjhgdfvfhvikdsxjvbhyrdusiedjhnbvfgdhyudjchbvfudksjmnbhfsdjkmhvjfkdsmnhvjckmchbjsdmhvjudfkjsd</p>
								<a href="#" class="btn btn-primary btn-style">Read...</a>
							</div>
						</div>
					</div>
					<div class="col-3-lg col-md-3">
						<div class="card animated fadeInUp" data-animated-delay=".8s" style="width: 23rem;">
							<img src="/img/slider/card3.jpg" alt="card-img-top">
							<div class="card-body">
								<h3 class="card-title">Features</h3>
								<p>mnjjxnvmxcnvjdxnc vbhjdxncvbjhdvjxcvudjfvbjhgdfvfhvikdsxjvbhyrdusiedjhnbvfgdhyudjchbvfudksjmnbhfsdjkmhvjfkdsmnhvjckmchbjsdmhvjudfkjsd</p>
								<a href="#" class="btn btn-primary btn-style">Read...</a>
							</div>
						</div>
					</div>
					<div class="col-3-lg col-md-3">
						<div class="card animated fadeInUp" data-animated-delay=".9s" style="width: 23rem;">
							<img src="/img/slider/card3.jpg" alt="card-img-top">
							<div class="card-body">
								<h3 class="card-title">Features</h3>
								<p>mnjjxnvmxcnvjdxnc vbhjdxncvbjhdvjxcvudjfvbjhgdfvfhvikdsxjvbhyrdusiedjhnbvfgdhyudjchbvfudksjmnbhfsdjkmhvjfkdsmnhvjckmchbjsdmhvjudfkjsd</p>
								<a href="#" class="btn btn-primary btn-style">Read...</a>
							</div>
						</div>
					</div>
				</div>
			</div> <!--cards ended-->

			<!--counter-area-start-->
			<div class="counter-area pt-80 pb-50" id="third">
				<div class="container">
					<div class="row">
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="single-counter text-center">
								<h2 class="counter">99</h2>
								<span>Products</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="single-counter text-center">
								<h2 class="counter">180</h2>
								<span>Happy Clients</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="single-counter text-center">
								<h2 class="counter">500</h2>
								<span>Vendors</span>
							</div>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
							<div class="single-counter text-center">
								<h2 class="counter">320</h2>
								<span>Satisfaction Guarantee</span>
							</div>
						</div>
					</div>
				</div>
			</div> <!--counter-area ended-->

		<!-- testimonial-->
		<div id="testimonial" id="fourth">
			<div class="container-fluid">
				<div class="row">
					<div class="col-md-12">
						<h2 class="text-center title text-dark"><strong>Testimonials</strong></h2>
						<!-- Carousel begins-->
						<div class="carousel slide" id="my-carousel" data-ride="carousel">
							<ol class="carousel-indicators">
								<li data-target="#my-carousel" data-slide-to="0"></li>
								<li data-target="#my-carousel" data-slide-to="1" class="active"></li>
								<li data-target="#my-carousel" data-slide-to="2"></li>
							</ol>

							<div class="carousel-inner">
								<div class="carousel-item text-center">
									<div class="img-box rounded-circle m-auto">
										<img src="img/slider/t1.jpg" class="d-block w-100 rounded-circle">
									</div>
									<h5 class="py-1 my-1"><strong class="text-warning text-uppercase">PAul Michael</strong></h5>
									<p class="pt-3 text-black"style="font-size: 15px;">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
								</div>
								<div class="carousel-item text-center active">
									<div class="img-box rounded-circle m-auto">
										<img src="img/slider/t1.jpg" class="d-block w-100 rounded-circle">
									</div>
									<h5 class="py-1 my-1"><strong class="text-warning text-uppercase">Steve Fonsi</strong></h5>
									<p class="pt-3 text-black"style="font-size: 15px;">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
								</div>
								<div class="carousel-item text-center">
									<div class="img-box rounded-circle m-auto">
										<img src="img/slider/t1.jpg" class="d-block w-100 rounded-circle">
									</div>
									<h5 class="py-1 my-1"><strong class="text-warning text-uppercase"></strong>Daniel Veber</h5>
									<p class="pt-3 text-black" style="font-size: 15px;">Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum Lorem ipsum </p>
								</div>
							</div>

							<!--Carousel controls-->
							<a href="#my-carousel" class="carousel-control-prev" role="button" data-slide="prev">
								<span class="carousel-control-prev-icon"></span>
								<span class="sr-only">Previous</span>
							</a>
							<a href="#my-carousel" class="carousel-control-next" role="button" data-slide="next">
								<span class="carousel-control-next-icon"></span>
								<span class="sr-only">Next</span>
							</a>
						</div> <!--Carousel ends-->
					</div>
				</div>
			</div>
		</div>

        <!-- banner-area-2-start -->
			<div class="banner-area-2" id="fifth">
				<div class="container">
					<div class="row">
						<div class="br-bottom ptb-80">
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<!-- single-banner-2-start -->
								<div class="single-banner-2 text-center mb-3">
									<div class="banner-icon" style="color: red;">
										<a href="#"><img src="img/banner/2.png" alt="banner" /></a>
									</div>
									<div class="banner-text">
										<h2>Free Shipping Worldwide</h2>
										<p style="font-size: 15px; color: black;">Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
									</div>
								</div>
								<!-- single-banner-2-end -->
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<!-- single-banner-2-start -->
								<div class="single-banner-2 text-center mb-3">
									<div class="banner-icon">
										<a href="#"><img src="img/banner/3.png" alt="banner" /></a>
									</div>
									<div class="banner-text">
										<h2>Money Back Guarantee</h2>
										<p style="font-size: 15px; color: black;">Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
									</div>
								</div>
								<!-- single-banner-2-end -->
							</div>
							<div class="col-lg-4 col-md-4 col-sm-4 col-xs-12">
								<!-- single-banner-2-start -->
								<div class="single-banner-2 text-center">
									<div class="banner-icon">
										<a href="#"><img src="img/banner/4.png" alt="banner" /></a>
									</div>
									<div class="banner-text">
										<h2>online support 24/7</h2>
										<p style="font-size: 15px; color: black;">Mirum est notare quam littera gothica, quam nunc putamus parum claram</p>
									</div>
								</div>
								<!-- single-banner-2-end -->
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- banner-area-2-end -->

        <!-- CONTACT --
		<div class="priish_tm_section" id="contact">
			<div class="priish_tm_contact_wrap_all">
				<div class="priish_tm_main_title_holder contact text-center">
					<h1>Get in Touch</h1>
					<span>Any question? Reach out to me and I will get back to you shortly.</span>
				</div>
				<div class="priish_tm_contact_wrap">
					<div class="main_input_wrap">
						<form action="/" method="post" class="contact_form" id="contact_form">
							<div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
							<div class="empty_notice"><span>Please Fill Required Fields</span></div>
							<div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
								<input id="name" type="text" placeholder="Your Name">
							</div>
							<div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
								<input id="email" type="text" placeholder="Your Email">
							</div>
							<div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.6s">
								<textarea id="message" placeholder="Your Message"></textarea>
							</div>
							<div class="priish_tm_button wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.8s">
								<a id="send_message" href="#"><span>Send Message</span></a>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
		-- /CONTACT -->

		<div class="container_contact" id="sixth">
			<div class="row">
				<div class="priish_tm_contact_wrap_all">
				<div class="priish_tm_main_title_holder contact text-center">
					<h1>Get in Touch</h1>
					<span>Any question? Reach out to me and I will get back to you shortly.</span>
				</div>
				<div class="priish_tm_contact_wrap">
					<div class="main_input_wrap">
						<form action="/" method="post" class="contact_form" id="contact_form">
							<div class="returnmessage" data-success="Your message has been received, We will contact you soon."></div>
							<div class="empty_notice"><span>Please Fill Required Fields</span></div>
							<div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.2s">
								<input id="name" type="text" placeholder="Your Name">
							</div>
							<div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
								<input id="email" type="text" placeholder="Your Email">
							</div>
							<div class="wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.6s">
								<textarea id="message" placeholder="Your Message"></textarea>
							</div>
							<div class="priish_tm_button wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.8s">
								<a id="send_message" href="#"><span>Send Message</span></a>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
		
		

<script type="text/javascript">
$(document).ready(function() {       	
$(function() {

    //settings for slider
    var width = 1250;
    var animationSpeed = 1000;
    var pause = 3000;
    var currentSlide = 1;

    //cache DOM elements
    var $slider = $('#slider');
    var $slideContainer = $('.slides', $slider);
    var $slides = $('.slide', $slider);

    var interval;

    function startSlider() {
        interval = setInterval(function() {
            $slideContainer.animate({'margin-left': '-='+width}, animationSpeed, function() {
                if (++currentSlide === $slides.length) {
                    currentSlide = 1;
                    $slideContainer.css('margin-left', 0);
                }
            });
        }, pause);
    }
    function pauseSlider() {
        clearInterval(interval);
    }

    $slideContainer
        .on('mouseenter', pauseSlider)
        .on('mouseleave', startSlider);

    startSlider();


});


/*$(document).ready(function() {*/
	// counter 
	$('.counter').counterUp({
	delay: 10,
	time: 1000
});
/*});*/


//Cards
/*$(document).ready(function() {*/
	$(".col-3-lg").hover(
		//trigger when mose hover
			function() {
				$(this).animate({
					marginTop: "-=1%",
				}, 200);
			},
	//trigger when mouse out
		function() {
		$(this).animate({
			marginTop: "0%"
		}, 200);
	}

	);
 });
</script>



<!--<script type="text/javascript">
	$(document).ready(function() {
		$(window).scroll(function() {
			var positiontop = $(document).scrollTop();
			console.log(positiontop);

			if((positiontop > 4) && (positiontop < 50)) {
				$("#first").addClass("animated fadeIn");
			}

			if((positiontop > 51) && (positiontop < 530)) {
				$("#second").addClass("animated fadeIn");
			}

			if((positiontop > 531) && (positiontop < 743)) {
				$("#third").addClass("animated fadeIn");
			}

			if((positiontop > 744) && (positiontop < 1327)) {
				$("#fourth").addClass("animated fadeIn");
			}

			if((positiontop > 1323) && (positiontop < 1598)) {
				$("#fifth").addClass("animated fadeIn");
			}

			if((positiontop > 1599) && (positiontop < 2235)) {
				$("#sixth").addClass("animated fadeIn");
			}

			if((positiontop > 2236) && (positiontop < 2284)) {
				$("#seventh").addClass("animated fadeIn");
			}

		});
	});

</script>-->

<% include partials/footer %> 
